.signup {
  background-color: white;
  text-align: center;
  padding: 5%;
  margin-left: 10cm;
  margin-right: 10cm;

}
:root {
  background-color: rgb(222, 153, 207);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(222, 153, 207);
  cursor: pointer;
  transition: border-color 0.25s;
}
h2 {
  font-size: 33pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}
#auth {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}
button:hover {
  border-color: black;
}

